<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <!-- ...............................Persistence................................................. -->
    <!-- NoSQL -->
    <bean id="restaurantPersistence" class="cz.muni.fi.pa036.nosql.persistence.RestaurantPersistence" />
    <bean id="userPersistence" class="cz.muni.fi.pa036.nosql.persistence.UserPersistence" />
    <!-- SQL -->
    <bean id="restaurantDaoImpl" class="cz.muni.fi.pa036.sql.dao.RestaurantPersistenceDaoImpl" />
    <bean id="reviewDaoImpl" class="cz.muni.fi.pa036.sql.dao.ReviewPersistenceDaoImpl" />
    <bean id="accountPersistenceDaoImpl" class="cz.muni.fi.pa036.sql.dao.AccountPersistenceDaoImpl" />


    <!-- ...............................Service ................................................. -->
    <!-- NoSQL -->
    <bean id="restaurantService" class="cz.muni.fi.pa036.nosql.service.RestaurantServiceImpl">
        <property name="restaurantPersistence" ref="restaurantPersistence" />
    </bean>
    <bean id="accountService" class="cz.muni.fi.pa036.nosql.service.AccountServiceImpl" >
        <property name="userPersistence" ref="userPersistence" />
    </bean>
    <!-- SQL -->
    <bean id="accountServiceSQL" class="cz.muni.fi.pa036.sql.service.AccountServiceSQLImpl" >
        <property name="accountPersistenceDao" ref="accountPersistenceDaoImpl" />
    </bean>
    <bean id="restaurantServiceSQL" class="cz.muni.fi.pa036.sql.service.RestaurantServiceSQLImpl" >
        <property name="reviewPersistenceDao" ref="reviewDaoImpl" />
        <property name="restaurantPersistenceDao" ref="restaurantDaoImpl" />
    </bean>
    <bean id="reviewServiceSQL" class="cz.muni.fi.pa036.sql.service.ReviewServiceSQLImpl" >
        <property name="reviewPersistenceDao" ref="reviewDaoImpl" />
    </bean>



    <!-- ...............................Facade................................................. -->

    <bean id="restaurantFacade" class="cz.muni.fi.pa036.facade.RestaurantFacadeImpl">

        <property name="accountService" ref="accountService"/>
        <property name="restaurantService" ref="restaurantService"/>
        <property name="restaurantServiceSQL" ref="restaurantServiceSQL"/>
        <property name="accountServiceSQL" ref="accountServiceSQL" />
        <property name="reviewServiceSQL" ref="reviewServiceSQL"/>

    </bean>


    <bean id="accountFacade" class="cz.muni.fi.pa036.facade.AccountFacadeImpl">

        <property name="accountService" ref="accountService"/>
        <property name="restaurantService" ref="restaurantService"/>
        <property name="restaurantServiceSQL" ref="restaurantServiceSQL"/>
        <property name="accountServiceSQL" ref="accountServiceSQL" />

    </bean>

    <!-- ................................web....................................................-->
    <bean id="registerServlet" class="cz.muni.fi.pa036.web.RegisterServlet">
        <property name="myFacade" ref="accountFacade"/>
    </bean>


</beans>